:root {
    --brand-logo-size: 174px;
    --container-size: 1200px;
    --main-size: 1370px;
    --color-cgred: #E43635;
    --color-lightgray: #CECECE;
    --color-white: #FEFEFE;
    --color-jet: #353434;
    --color-sunglow: #FACA1F;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-jet);
    scroll-behavior: smooth;
}

body {
    background: var(--color-white);
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

header {
    margin-top: 10px;
}

.container {
    position: relative;
    width: var(--container-size);
    margin: 0 auto;
    border-radius: 1rem;
    padding: 0 20px;
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo > img {
    width: var(--brand-logo-size);
}

.other-information {
    text-align: right;
}

.other-information > p {
    font-size: 1.5rem;
}

.other-information > p > a {
    text-decoration: none;
    color: var(--color-jet);
}

.other-information > p > a:hover {
    color: var(--color-cgred);
}

.other-information > p > i, ul > li > i {
    color: var(--color-cgred);
}

.other-information > p:nth-child(1) {
    cursor: pointer;
    margin: 0;
    font-family: 'Open Sans Light', sans-serif;
}

.other-information > p:nth-child(2) {
    margin: 10px 0 0 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
    min-height: 54px;
}

.list-wrapper {
    border: 1px solid var(--color-cgred);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-wrapper > svg {
    color: var(--color-cgred);
    width: 25px;
    height: 25px;
}

.list-wrapper:hover {
    cursor: pointer;
}

.dropdown::before {
    content: '';
    background: linear-gradient(to right,#ff6540,#f6c81d);
    height: 0.4em;
    top: -0.4em;
    left: 0;
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    top: 3.757em;
    background: var(--color-sunglow);
    visibility: hidden;
    padding: 20px;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dropdown:hover {
    cursor: auto;
}

.dropdown .ig-showcase {
    flex: 1;
    margin: 15px;
    background: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 345px;
    position: relative;
}

.ig-showcase-overlay {
    visibility: hidden;
    width: 293px;
    height: 293px;
    background: rgba(0, 0, 0, 0.0);
    position: absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15%;
}

.ig-showcase-overlay .img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.ig-showcase-overlay .img img {
    width:100px;
    height:100px;
}

.ig-showcase-overlay h5 {
    color: var(--color-white);
}

.ig-showcase-overlay h5 a {
    color: var(--color-white);
    margin-top: -20px;
    display: inline-block;
    padding: 5px;
    background: transparent;
}

.ig-showcase-overlay h5 a:hover {
    color: var(--color-cgred);
    background: var(--color-white);
}

.dropdown .ig-showcase:hover .ig-showcase-overlay {
    visibility: visible;
    animation: slowDownBackground 5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}

@keyframes slowDownBackground {
    from { background: rgba(0, 0, 0, 0.0); }
    to { background: rgba(0, 0, 0, 0.5); }
}

.dropdown .ig-showcase > img {
    width: 293px;
    height: 293px;
}

.dropdown .ig-showcase, .dropdown .ig-showcase img {
    border-radius: 15px;
}

ul {
    margin: 0;
}

ul li {
    height: 54px;
    padding-top: 17px;
}

ul li a:link {
    color: var(--color-jet);
}

ul li:hover .dropdown {
    visibility: visible;
    animation: rotateMenu 1s ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@-moz-keyframes rotateMenu {
    0% {
        transform: rotate(-90deg);
    }
    70% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes rotateMenu {
    0% {
        transform: rotate(-90deg);
    }
    70% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-o-keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

ul li:hover > a, ul li:hover i {
    color: var(--color-cgred);
}

ul li a {
    color: var(--color-jet);
    text-decoration: none;
}

ul li a:hover i {
    color: var(--color-cgred);
}

nav {
    display: flex;
    align-items: center;
}

.other-nav:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline-block;
    font-size: 1rem;
}

ul > li:not(:first-child) {
    padding-left: 20px;
}

.overlay-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.95);
    left: 0;
    width: -webkit-fill-available;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    visibility: hidden;
}

.overlay-menu, .overlay-menu .navigator i {
    top: -10px;
}

.overlay-menu .navigator i {
    position: absolute;
    right: 0;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.82);
    transition: transform .8s ease-in-out;
}

.overlay-menu .navigator i:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.overlay-menu .navigator i:hover:before {
    color: var(--color-cgred);
}

.overlay-menu ul {
    padding: 0;
}

.overlay-menu ul li {
    display: block;
    padding: 0;
    font-size: 4rem;
}

.overlay-menu ul li a {
    color: rgba(255, 255, 255, 0.82);
    position: relative;
}

.overlay-menu ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-cgred);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.overlay-menu ul li a:hover{
    color: var(--color-cgred);
}

.overlay-menu ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.overlay-menu ul li:not(:first-child) {
    margin-top: 100px;
}

.main-size {
    width: var(--main-size);
    margin: 20px auto 0 auto;
}

.banner {
    min-height: 670px;
    background-image: url('../imgs/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    box-shadow: inset 0 0 100px rgb(0 0 0 / 90%);
}

.tron-text i {
    font-size: 3rem;
}

.tron-text > h1 {
    margin-top: 20px;
}

.tron-text > h1, .tron-text > h2 {
    margin-bottom: 0;
}

.tron-text > h1, .tron-text > h2, .tron-text > h3 {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-jet);
    margin-left: 20px;
    padding: 20px;
}

.tron-text > h2, .tron-text > h3 {
    margin-top: -22px;
}

article {
    /* background: var(--color-cgred); */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: auto;
    padding-top: 50px;
}

article > h1, article > h2 {
    /* color: var(--color-white); */
    text-align: center;
}

article > h2 {
    margin-bottom: 45px;
}

article .wrapper {
    width: 1200px;
    margin: 0 auto;
    background: var(--color-white);
    flex-wrap: wrap;
}

article .wrapper, article .wrapper a {
    display: flex;
}

article .wrapper .content {
    overflow: auto;
}

article .wrapper div {
    height: 300px;
    width: 300px;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 100px rgb(0 0 0 / 30%);
    transition: ease-out 0.2s;
}

article .wrapper:nth-of-type(1) div:nth-child(odd),
article .wrapper:nth-of-type(3) div:nth-child(odd),
article .wrapper:nth-of-type(5) div:nth-child(odd) {
    box-shadow: inset 0 0 100px rgb(0 0 0 / 30%);
    background-image: url('../imgs/odd.jpg');
}

article .wrapper:nth-of-type(2) div:nth-child(even),
article .wrapper:nth-of-type(4) div:nth-child(even),
article .wrapper:nth-of-type(6) div:nth-child(even) {
    box-shadow: inset 0 0 100px rgb(0 0 0 / 30%);
    background-image: url('../imgs/even.jpg');
}

article .wrapper:nth-of-type(6) {
    margin-bottom: 80px;
}

article .wrapper a {
    text-decoration: none;
    color: var(--color-jet);
}

article .wrapper a .content {
    padding: 0 20px;
    position: relative;
}

article .wrapper a .content::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
    background: transparent url('../imgs/navigation.svg') no-repeat -105px 0;
    z-index: 90;
    transform: scale(0.65);
    transform-origin: top right;
}

article .wrapper a:hover .content {
    box-shadow: none;
}

aside {
    margin: 0;
    padding: 0;
}

aside > .left {
    content: url('../imgs/aside-left.png');
    width: 393px;
    height: 614px;
    left: -15px;
    bottom: 0;
    position: absolute;
    visibility: hidden;
}

aside > .right {
    content: url('../imgs/aside-right.png');
    width: 393px;
    height: 634px;
    right: -15px;
    bottom: 0;
    position: absolute;
    visibility: hidden;
}

.social-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-wrapper > svg:hover {
    cursor: pointer;
}

footer, footer p:nth-of-type(2) {
    padding-top: 70px;
}

footer > p {
    font-size: 1.8rem;
    font-family: 'Open Sans Condensed', sans-serif;
}

.video-wrapper {
    display: flex;
}

.video-wrapper > div {
    flex: 1;
    margin: 5px;
    background: var(--color-sunglow);
    position: relative;
}

.video-wrapper > div::after {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 40px solid var(--color-jet);
    border-bottom: 25px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.social-media-wrapper > svg:not(:first-child) {
    padding-left: 50px;
}

.social-media-wrapper > svg:nth-child(1):hover {
    color: #00acee;
}

.social-media-wrapper > svg:nth-child(2):hover {
    color: #4267B2;
}

.social-media-wrapper > svg:nth-child(3):hover {
    color: #FF0000;
}

.social-media-wrapper > svg:nth-child(4):hover {
    color: #8a3ab9;
}

.social-media-wrapper > svg:nth-child(5):hover {
    color: #0077b5;
}

.end-line-wrapper {
    padding-top: 68.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link, a:hover, a:active {
    color: var(--color-cgred);
}

@media only screen and (min-width: 1920px) {
    aside > .left, aside > .right {
        visibility: visible;
    }
}